In [3]:
import numpy as np

x=np.eye(3,5)

In [4]:
x

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.]])

In [5]:
import pandas as pd 

s=pd.Series([10,20,30],index=['a','b','c'])

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [6]:
s

a    10
b    20
c    30
dtype: int64

In [8]:
s.loc[['a']]=100

In [9]:
s

a    100
b     20
c     30
dtype: int64

In [10]:
s.iloc[2]

30

In [11]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [13]:
data={'Name':['xx','yy','zz'],'Age':[10,20,30],'Sex':['m','f','m']}

In [14]:
data

{'Name': ['xx', 'yy', 'zz'], 'Age': [10, 20, 30], 'Sex': ['m', 'f', 'm']}

In [15]:
df=pd.DataFrame(data)

In [82]:
df[['Name']]

  Name
0   xx
1   yy
2   zz

In [17]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
df.columns

Index(['Name', 'Age', 'Sex'], dtype='object')

In [19]:
columns=['N','A','S']

In [20]:
import os

In [22]:
pd.DataFrame(df, index=['orange', 'red'])

       Name  Age  Sex
orange  NaN  NaN  NaN
red     NaN  NaN  NaN

In [23]:
import os

os.chdir('F:\Training Python\Panda\ml-latest-small\ml-latest-small')

In [25]:
movies= pd.read_csv('movies.csv')

In [27]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [28]:
tags=pd.read_csv('tags.csv')

In [29]:
movies.info

<bound method DataFrame.info of       movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]>

movies.describe()

In [32]:
movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [33]:
movies.sum()

movieId                                            411115845
title      Toy Story (1995)Jumanji (1995)Grumpier Old Men...
genres     Adventure|Animation|Children|Comedy|FantasyAdv...
dtype: object

In [34]:
movies.min()

movieId                     1
title              '71 (2014)
genres     (no genres listed)
dtype: object

In [36]:
movies['movieId'].describe()

count      9742.000000
mean      42200.353623
std       52160.494854
min           1.000000
25%        3248.250000
50%        7300.000000
75%       76232.000000
max      193609.000000
Name: movieId, dtype: float64

In [37]:
ratings=pd.read_csv('ratings.csv')

In [38]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [49]:
join=movies.merge(ratings,how='left',on='movieId')

In [50]:
join

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09
...,...,...,...,...,...,...
100849,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09
100850,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09
100851,193585,Flint (2017),Drama,184.0,3.5,1.537110e+09
100852,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5,1.537110e+09
100853,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09

In [51]:
join['rating']

0         4.0
1         4.0
2         4.5
3         2.5
4         4.5
         ...
100849    4.0
100850    3.5
100851    3.5
100852    3.5
100853    4.0
Name: rating, Length: 100854, dtype: float64

In [52]:
os.chdir('F:\Training Python')

data=pd.read_csv('Student.csv')

In [53]:
data1=pd.read_csv('Marks.csv')

In [60]:
join=data.merge(data1,on='Student Id',how='outer')

In [61]:
join

    Student Id Name  marks
0           14   xx   60.0
1           15   yy   70.0
2           15   yy   90.0
3           15   cc   70.0
4           15   cc   90.0
5           10   zz   80.0
6           10   zz  100.0
7           10   bb   80.0
8           10   bb  100.0
9           11   nn   50.0
10          50   vv    NaN
11          60   nn    NaN
12          70   cc    NaN
13          20  NaN  100.0
14          21  NaN   20.0
15          22  NaN   30.0

In [62]:
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [68]:
is_highly_rated = ratings['rating'] >= 4.0

ratings[is_highly_rated][10:20]

    userId  movieId  rating  timestamp
11       1      216     5.0  964981208
13       1      231     5.0  964981179
14       1      235     4.0  964980908
15       1      260     5.0  964981680
18       1      333     5.0  964981179
19       1      349     4.0  964982563
20       1      356     4.0  964980962
21       1      362     5.0  964982588
22       1      367     4.0  964981710
24       1      441     4.0  964980868

In [64]:
is_highly_rated

0          True
1          True
2          True
3          True
4          True
          ...
100831     True
100832     True
100833     True
100834     True
100835    False
Name: rating, Length: 100836, dtype: bool

In [78]:
is_animation = movies['genres'].str.contains('Romance',na=0)

In [79]:
movies[is_animation]

,movieId,title,genres
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
6,7,Sabrina (1995),Comedy|Romance
10,11,"American President, The (1995)",Comedy|Drama|Romance
14,15,Cutthroat Island (1995),Action|Adventure|Romance
...,...,...,...
9639,179511,Emerald Green (2016),Adventure|Drama|Fantasy|Romance
9660,181315,Phantom Thread (2017),Drama|Romance
9691,184349,Elsa & Fred (2005),Comedy|Drama|Romance
9715,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance
9725,190207,Tilt (2011),Drama|Romance

In [80]:
average_rating = ratings[['movieId','rating']].groupby('movieId').mean()
average_rating.head()

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429